/*#region -- Ecran ordinateur*/

    /*#region -- Base*/

body {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: 15px;
    box-sizing: border-box;
}

header, main {
    margin: 2%;
}

ul, a{
    text-decoration: none;
}

ul {
    list-style-type: none;
}

a {
    color: inherit;
}

h1 {
    font-size: 22px;
}

h3{
    font-size: 16px;
}

button {
    cursor: pointer;
}
    /*#endregion base*/

    /*#region -- Header*/

header {
    display: flex;
    justify-content: space-between;
}

.header img {
    width:45%;
    padding-left: 20px;
}

.header-nav ul{
    display: flex;
    flex-direction: row;
    color: #000000;
    text-align: center;
}

.header-nav a{
    padding: 0 30px 0 30px;
    border-top: 3px solid #F2F2F2;
}

.header-nav li a:hover{
    color: #0065FC;
    border-top: 3px solid #0065FC;
    
}

.header-nav a, .header-nav li a:hover {
    padding-top: 38px;
}

    /*#endregion header*/
    
    /*#region -- Section 1*/

.section-1 {
    margin: 40px 0 20px 0;
}

.main-form {
    margin: 20px 0 20px 0;

}

.main-form, .button-rechercher, .filtres, #search {
    font-weight: 700;
}

        /*#region -- Barre de recherche*/

.main-form {
    display: flex;
    flex-direction: row;
}

#search {
    border: 1px solid #F2F2F2;
    padding: 9.5px 5px 9.5px 11px;
}

#location-icone {
    align-self: center;
    background-color: #F2F2F2;
    border-radius: 15px 0 0 15px;
    padding: 22px;
}

#search::placeholder {
    color: #000000;
}

.button-rechercher { 
    border: none;
    border-radius: 0 15px 15px 0;
    background-color: #0065FC;
    color:#FFFFFF;
}

.button-rechercher i {
    display: none;
}

.button-rechercher-lettre {
    background-color: transparent;
    align-items: center;
}

        /*#endregion -- Barre de recherche*/

        /*#region -- Filtres*/

.filtres {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.filtres-listes { 
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
}

.filtres-boites {
    display: flex;
    align-items: center;
    border: 2px solid #B2B2B2;
    color: #000000;
    background-color: transparent;
    font-weight: 700;
    border-radius: 40px;
    padding-right: 20px;
    margin: 10px;
}

.filtres-icones { 
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0065FC;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-left: -10px;
    margin-right: 10px;
}

.filtres-boites:hover, .filtres-icones {
    background-color: #DEEBFF;
    transition: 0.5s;
}

.filtres-textes {
    font-size: large;
}

.fa-money-bill-wave {
    display: inline-block;
    text-rendering: auto;
    line-height: 1;
}

.filtres-info {
    display: flex;
}

.filtres-info-icone {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 20px;
    border: 1px solid #F2F2F2;
    border-radius: 50%;
    color: #0065FC;
}

.filtres-info p {
    margin-left: 1%;
    margin-top : 5px;
}
        /*#endregion Filtres*/

    /*#endregion Section 1*/

    /*#region -- Section 2*/

.section-2 {
    display: flex;
    flex-direction: row;
    flex-basis: 66%;
    justify-content: space-between;
}

.hebergements-fond {
    flex-basis: 76%;
    margin-right: 3%;
}

.populaires-fond {
    flex-basis: 24%;
}

.hebergements-fond, .populaires-fond {
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 3%;
}

.hebergements-card-image, .populaires-card-image {
    object-fit: cover;
}

.hebergements-card, .populaires-card {
    background-color: #FFFFFF;
    border: 5px solid #FFFFFF;
    border-radius: 30px;
    box-shadow: 3px 3px 10px 3px rgba(0,0,0,0.2);
}

.hebergements-card:hover, .populaires-card:hover {
    box-shadow: 3px 3px 10px 3px rgba(0,101,252,0.2);
    transform: scale(1.1);
    transition: 0.5s;
}

        /*#region -- Hébergements*/

.hebergements {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.hebergements-card {
    width: 230px;
    height: 180px;
    margin: 5%;
    margin-left: 0;
    line-height: 5px;
}

.hebergements-card-body {
    padding-left: 5%;
}

.hebergements-card img {
    min-width: 100%;
    height: 60%;
    border-radius: 25px 25px 0 0;
}

        /*#endregion -- Hébergements*/

        /*#region -- Etoile (notation)*/

.fa-star {
    color: #F2F2F2;
}

.icone1-etoile1, .icone1-etoile2, .icone1-etoile3,.icone1-etoile4,                  /*Auberge La Cannebière*/
.icone2-etoile1, .icone2-etoile2, .icone2-etoile3,.icone2-etoile4, .icone2-etoile5, /*Hôtel du port*/
.icone3-etoile1, .icone3-etoile2, .icone3-etoile3,.icone3-etoile4,                  /*Hôtel Les mouettes*/ 
.icone4-etoile1, .icone4-etoile2, .icone4-etoile3,                                  /*Hôtel de la mer*/
.icone5-etoile1, .icone5-etoile2, .icone5-etoile3,.icone5-etoile4,                  /*Auberge Le Panier*/
.icone6-etoile1, .icone6-etoile2, .icone6-etoile3,.icone6-etoile4, .icone6-etoile5,  /*Hôtel chez Amina*/
.icone7-etoile1, .icone7-etoile2, .icone7-etoile3,.icone7-etoile4, .icone6-etoile5, /*Hôtel Le soleil du matin*/
.icone8-etoile1, .icone8-etoile2, .icone8-etoile3,.icone8-etoile4,                  /*Au cœur de l'eau Chambres d'hôtes*/
.icone9-etoile1, .icone9-etoile2, .icone9-etoile3,.icone9-etoile4                   /*Hôtel Tout bleu et Blanc*/
{ 
    color: #0065FC;
}
        /*#endregion -- Etoile (notation)*/

        /*#region -- Les plus populaires*/

.icone-populaires {
    color: #000000;
}

.populaires-titre{
    display: flex;
    justify-content: space-between;
}

.icone-populaires {
    align-self: center;
}

.populaires {
    display: flex;
    flex-direction: column;
}

.populaires-card {
    display: flex;
    flex-direction: row;
    width: 330px;
    height: 140px;
    margin: 5% 0 5% 0;
}

.populaires-card-body {
    padding-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.populaires-card-body p {
    margin: 0;
    margin-bottom: 2%;
}

.populaires-card img {
    width: 45%;
    height: 140px;
    border-radius: 25px 0 0 25px;

        /*#endregion -- Les plus populaires*/

}

    /*#endregion Section 2*/

    /*#region -- Section 3*/

.section-3 {
    margin-top: 50px;
}

        /*#region -- Activités*/

.activites{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: stretch;
    gap: 20px;
}

.activites-card{
    display: flex;
    flex-direction: column;
    border: 1px solid #F2F2F2;
    border-radius: 20px;
    box-shadow: 3px 3px 10px 3px rgba(0,0,0,0.2);
    width: 280px;
}

.activites-card h3{
    padding-left: 5%;
}

.activites-card:hover {
    box-shadow: 3px 3px 10px 3px rgba(0,101,252,0.2);
    transform: scale(1.1);
    transition: 0.5s;
}

.activites-double {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.activites-card-grande-image, .activites-card-moyenne-image, .activites-card-petite-image {
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.activites-card-grande-image {
    height: 350px;
}

.activites-card-moyenne-image {
    height: 170px;
}

.activites-card-petite-image {
    height: 100px;
}

        /*#endregion -- Activités à Marseille*/

    /*#endregion -- Section 3*/

    /*#region -- Footer*/

.footer {
    background-color: #F2F2F2;
    display: flex;
    flex-direction: row;
    line-height: 30px;
    margin-top: 50px;
    width: auto;
    height: auto;
}

.footer-ul {
    flex-grow: 1;
}

    /*#endregion -- Footer*/

/*#endregion -- Ecran*/


/*#region -- Ecran tablette*/

@media screen and (max-width:992px) and (min-width:768px) {

    /*#region -- Section 2*/

.section-2 {
    flex-direction: column;
}  

.hebergements-fond {
    margin-right: 0;
    margin-bottom: 3%;
}

.hebergements, .populaires{
    justify-content: space-evenly;
}

        /*#region -- Hébergements */

#nav-hebergements, #activites{
    text-align: center;
}

.hebergements-afficher {
    margin-left: 45%;
    margin-top: 10%;
}
        /*#endregion -- Héberghements*/

        /*#region -- Populaires */

.populaires{
    flex-direction: row;
    flex-wrap: wrap;
}

.populaires-titre{
    justify-content: center;
}
        /*#endregion -- Populaires*/
    
    /*#endregion -- Section 2*/

        /*#region -- Activités*/

.activites{
    justify-content: space-evenly;
}

.activites-card h3{
    text-align: center;
    padding-left: 0;
}
        /*#endregion -- Activités*/
    
}

/*#endregion -- Ecran tablette*/


/*#region -- Ecran portable*/

@media screen and (max-width:768px) {

body {
    line-height: 200%;
    font-size: 100%;
}

    /*#region Header */

header {
    flex-direction: column;
    align-items: center;
}

.header img {
    width:150px;
    padding-left: 50px;
}

.header-nav a{  
    border-top: none;
    width: 100%;
}

.header-nav ul{
    margin: 0;
    padding-left: 0;
}

.header-nav li{
    border-bottom: 3px solid #F2F2F2;
    padding-bottom: 30px;
    width: 50%;
}

.header-nav li a:hover{
    border-top: none;
    border-bottom: 3px solid #0065FC;
    padding-bottom: 38px;
}

    /*#endregion -- Header*/

    /*#region -- Section 1*/

.main-form {
    margin: 55px 0 20px 0;
    width: 100%;
}

        /*#region -- Recherche*/

#location-icone {
    padding-right: 5%;
    padding-left: 5%;
    border-radius: 25px 0 0 25px;
}
        /*#endregion -- Recherche*/

        /*#region -- Filtres*/

.button-rechercher-lettre {
    display: none;
}
    
.button-rechercher {
    border-radius: 15px;
    padding-left: 3%;
    padding-right: 3%;
}
.button-rechercher i {
    display: inline;
    color: #FFFFFF;
    background-color: #0065FC;
    padding: 0 15px 0 15px;
}

.filtres-icones {
    height: 50px;
    width: 50px;
}

.filtres-info p {
    margin-left: 2%;
    margin-top : 0;
}

        /*#endregion -- Filtres*/

    /*#endregion -- Section 1*/

    /*#region -- Section 2*/

.section-2 {
    flex-direction: column-reverse;
    background-color: transparent;
}

.hebergements-fond {
    background-color: transparent;
    margin-right: 0;
    display: flex;
    flex-direction: column;
}

.hebergements-afficher {
    margin-top: 40px;
}

.populaires-fond {
    border-radius: 0;
    margin-left: 0;
}

.hebergements-card, .populaires-card {
    width: auto;
    height: auto;
    box-shadow: 2px 2px 20px 0 #B2B2B2;
    border: 8px solid #FFFFFF;
}

        /*#region -- Hébergements*/

.hebergements {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.hebergements-card {
    margin-right: 0;
}

.hebergements-card-body {
    padding-left: 20px;
}

.hebergements-card img {
    width: 100%;
    height: 200px;
}
        /*#endregion - Hébergements*/

        /*#region -- Populaires*/

.populaires-card-body{
    padding-left: 30px;
    padding-right: 30px;
    line-height: 150%;
}

.populaires-card img {
    height: 200px;
}
        /*#endregion -- Populaires*/

    /*#endregion -- Section 2*/
    
    /*#region -- Section 3*/

        /*#region -- Activités*/

.activites {
    flex-direction: column;
    padding: 3%;
}

#activites {
    padding-left: 20px;
}

.activites-card{
    width: 100%;
}

.activites-card:hover {
    transform: scale(1);
}

.activites-card-grande-image, .activites-card-moyenne-image, .activites-card-petite-image {
    width: 280px;
}

.activites-card img {
    height: 200px;
    width: 100%;
}

.activites-double{
    justify-content: inherit;
}

        /*#endregion -- Activités*/

    /*#endregion -- Section 3*/

    /*#region -- Footer*/

.footer {
    display: flex;
    flex-direction: column;
}
.footer-ul {
    flex-grow: 1;
}
    /*#endregion -- Footer*/

}

/*#endregion -- Ecran portable*/